#colophon{:style => 'text-align:center;'}
  %p 
    Site feito pela #{link_to 'Softa', 'http://www.softa.com.br/', :target => :_blank } em #{link_to 'HTML5', 'http://www.w3.org/TR/html5/', :target => :_blank } usando #{link_to 'Ruby on Rails', 'http://www.rubyonrails.org/', :target => :_blank }, #{link_to 'Compass', 'http://www.compass-style.org/', :target => :_blank }, #{link_to 'Blueprint', 'http://www.blueprintcss.org/', :target => :_blank }, #{ link_to 'Haml', 'http://www.haml-lang.com/', :target => :_blank }, #{ link_to 'Sass', 'http://www.sass-lang.com/', :target => :_blank }
    %span.alternate &amp;
    #{link_to 'jQuery', 'http://www.jquery.com/', :target => :_blank } · Ícones para redes sociais por #{ link_to 'komodomedia.com', 'http://komodomedia.com', :target => :_blank}
  /
    %em Possui interesse em apresentar uma palestra ou quer mais informações sobre o evento? Entre em contato pelo contato at rsrails com br.