- @body_id = "index"
%section.home
  %h1 RS on Rails 2010 — 2ª Edição
  %p O <strong>RS on Rails</strong> é um evento técnico sobre Ruby on Rails, único no sul do Brasil, voltado para programadores e entusiastas em desenvolvimento de aplicações usando o framework <strong>Ruby on Rails</strong>.
  %p.alert
    %strong Data: 21 de Agosto
    %br
    %strong Local: Auditório do prédio 40 na PUCRS
    %br
    = image_tag 'auditorio_rs_on_rails.jpg', :style => 'border: 1px solid #777;'
    %br
    O auditório conta com 110 lugares, todos em poltronas fixas e estofadas e a sala possui um sistema de som próprio.
  %p Após o sucesso da primeira edição, o evento se consolida como único no sul do Brasil servindo também como exposição de profissionais para o mercado regional e nacional, sendo parada obrigatória para desenvolvedores Rails.
  %h2 <strong>Como será?</strong>
  %p O evento consiste na apresentação de <strong>Palestras Técnicas</strong>, <strong>Cases</strong> e <strong>Lightning Talks</strong> sobre programação usando o framework <strong>Ruby on Rails</strong>. Terá duração aproximada de 12h, com intervalos para almoço e coffee breaks.
  %br
  %p Fique de olho na seção #{link_to 'Twitter Feeds »', follow_event_path}. Ela concentra tópicos, novidades e promoções sobre o evento, assim como informações relacionadas ao Rails no Brasil.
%aside.home
  %h6 RS on Rails 2009 — 1ª Edição
  %p #{link_to('Clique aqui', last_edition_keynotes_path)} e confira as <strong>palestras</strong> apresentadas em 2009.
  - link_to last_edition_photos_path, :class => :thumbnail do
    = image_tag 'photos/rsonrails-1-05_thumb_small.jpg'
    %br
    Veja fotos da primeira edição »
  %hr
  .centered
    = link_to image_tag('fisl_180x150.jpg'), 'http://softwarelivre.org/fisl11', :title => 'FISL 11 - Software Livre Brasil', :class => 'thumbnail'
.clear
%hr
= render :partial => 'flash', :locals => { :flash => flash }
= render :partial => 'form_mailee'