- @body_id = "keynotes"
%section.keynotes_list
  %h1 Palestras técnicas
  %ul.keynotes
    %li
      .keynote_info
        %h3 Dicas de Desenvolvimento Web com Ruby
        %p Muitas vezes as pessoas reclamam da lentidão de seus websites e logo pensam em reescrever tudo, trocar de linguagem ou coisas do tipo. Porém, em muitos casos o problema são coisas muito simples. Nesta apresentação quero demonstrar alguns dos diversos conceitos sobre tanto performance quanto escalabilidade, muitas das quais são aplicáveis fora do mundo Ruby on Rails
      .keynote_author
        .wrapper
          = image_tag 'http://a1.twimg.com/profile_images/483721382/4015270661_1d44744ac4_o_normal.jpg', :class => 'avatar'
          %p
            Fábio Akita
            %br
            = link_to 'akitaonrails.com', 'http://akitaonrails.com/', :target => :_blank
          .clear
          = twitter_profile "AkitaOnRails"
        %p.author_bio Fábio Akita é um conhecido blogueiro e evangelista da comunidade Ruby on Rails e Agile. Foi Gerente de Projetos na Locaweb, onde também fez parceria na concepção da conferência anual Rails Summit. Já trabalhou como Brazil Rails Practice Manager para a consultoria americana Surgeworks LLC. Antes disso era consultor de integração e desenvolvimento no mundo SAP. Tem mais de 10 anos de experiência nas áreas de desenvolvimento de software e gestão de projetos.
      .clear
    %li
      .keynote_info
        %h3 Aplicações Rack
        %p Aplicações Rack são parte fundamental no ecossistema atual de desenvolvimento web com Ruby. Esta palestra explicará o que é Rack, as principais ferramentas disponíveis e porque você deve começa a usar hoje mesmo esta tecnologia.
      .keynote_author
        .wrapper
          = image_tag 'http://a1.twimg.com/profile_images/555087560/me_normal.jpeg', :class => 'avatar'
          %p
            Thiago Bueno
            %br
            <em>#{link_to 'ThoughtWorks', 'http://www.thoughtworks.com/', :target => :_blank}</em>
            = link_to "tbueno.com", "http://tbueno.com/", :target => :_blank
          .clear
          = twitter_profile "tbueno"
        %p.author_bio Desenvolvedor desde 2001, atuando principalmente com a linguagem Java, nas áreas de processamento de XML, software embarcado e desenvolvimento web. Realizou projetos utilizando Ruby e Objective-C como freelancer e contribuiu em projetos open-source. Após passar por empresas como Tools and Technology e HP, trabalha atualmente na empresa ThoughtWorks com desenvolvimento web utilizando Java e Ruby.
      .clear
    %li
      .keynote_info
        %h3 Ruby-Raid - Porque ruby pode ser divertido sem r***s!
        %p Muito se fala em desenvolvimento de jogos cada vez mais realistas, com engines gráficas poderosas e linguagens compiladas para obter o máximo de desempenho. Mas as vezes você apenas quer apenas se divertir desenvolvendo seu joguinho 2D de plataforma e mesmo assim precisa aprender bibliotecas nada divertidas para isso. Então porque não programar seus jogos em ruby? Não espere desenvolver jogos mirabolantes em 3D, mas com certeza espere muita diversão e facilidade de aprender o framework (até mesmo para quem não sabe nada de jogos). Logo entenderá que desenvolver jogos também pode ser tão divertido quanto desenvolver em r***s. Aproveitando a oportunidade, conhecerão também o ruby-raid, um jogo especialmente desenvolvido para esta palestra baseado em tutoriais disponíveis na internet.
      .keynote_author
        .wrapper
          = image_tag 'http://a1.twimg.com/profile_images/473287948/pedro_barcelona_rosto_bigger.jpg', :class => 'avatar'
          %p
            Pedro Pimentel
            %br
            = link_to 'pedropimentel.com', 'http://www.pedropimentel.com/', :target => :_blank
          .clear
          = twitter_profile "zukunftsalick"
        %p.author_bio
          Pedro likes to live on the edge, always trying to deliver user driven applications rather than feature bloated applications. He’s actively using Ruby/Rails in various projects in the last 4 years naturally focusing on developing large web applications integrating top notch tools. He is also proud of being a adept of TDD which lets him spend more time creating and trying out new things rather than fixing bugs.
          %br
          While he’s not working, you can probably find him cooking, playing Xbox or backpacking in some southeast Asian country.
      .clear
    %li
      .keynote_info
        %h3 Programação Distribuida e Processamento Assíncrono em Ruby
        %p Programação distribuida em Ruby, Background/Async processing. Apresentação de algumas técnicas como Distributed Message Queues e de algumas ferramentas (Starling, Redis, Resque, etc) e como usar isso pra fazer Async processing em uma aplicação Rails.
      .keynote_author
        .wrapper
          = image_tag 'http://a3.twimg.com/profile_images/481709123/Brasil_verao_2009_216_bigger.JPG', :class => 'avatar'
          %p
            Rodrigo Kochenburger
            %br
            = link_to "blog.divoxx.com", "http://blog.divoxx.com/", :target => :_blank
          .clear
          = twitter_profile "divoxx"
        %p.author_bio Amante e contribuinte do Open Source, ele está profundamente envolvido com a comunidade de Ruby on Rails e não contribuí com código apenas. Ele é uma das cabeças por trás do RailsRumble, uma competição mundial de Ruby On Rails que acontece através da internet, contribuindo com a disseminação de tecnologia.
      .clear
    %li
      .keynote_info
        %h3 Diversão: Um Guia Rápido
        %p
      .keynote_author
        .wrapper
          = image_tag 'http://a2.twimg.com/profile_images/479860086/texas-240_bigger.jpg', :class => 'avatar'
          %p
            Carlos Villela
            %br
            <em>#{link_to 'ThoughtWorks', 'http://www.thoughtworks.com/', :target => :_blank}</em>
            #{link_to "lixo.org", "http://lixo.org", :target => :_blank}
          .clear
          = twitter_profile "cv"
        %p.author_bio Carlos é consultor-líder pela ThoughtWorks há quase 6 anos e, além de ser um dos primeiros proponentes da linguagem Ruby e do Ruby on Rails na renomada consultoria, também tem feito diversos projetos relacionados com a migração e evolução de aplicações legadas utilizando testes automatizados de alto nível. Participou ativamente das idéias que deram origem ao BDD (Behaviour-Driven Development) e de diversos projetos open-source, como a ferramenta de testes WebDriver e a linguagem Ioke.
      .clear
    %li
      .keynote_info
        %h3 Rails 3: O que vem por aí?
        %p Vamos conhecer a nova arquitetura do framework: quais componentes foram reformulados, quais as novas funcionalidades, quais as principais vantagens e ganhos em relação à versão atual. Falaremos sobre ActiveModel, ARel, Unobtrusive Javascript, Bundler, Geradores, Responders, o novo Router e o ActionMailer, dentre outros componentes. Vamos tratar sobre agnosticismo e melhorias de performance. Conheça o que o Rails 3 trará de melhor para sua aplicação e principalmente para seu dia-a-dia como desenvolvedor.
      .keynote_author
        .wrapper
          = image_tag 'http://a3.twimg.com/profile_images/398519669/carlos240_bigger.jpg', :class => 'avatar'
          %p
            Carlos Antonio
            %br
            <em>#{link_to 'PlataformaTec', 'http://www.plataformatec.com.br/', :target => :_blank}</em>
            = link_to "carlosantoniodasilva.wordpress.com", "http://carlosantoniodasilva.wordpress.com/", :target => :_blank
          .clear
          = twitter_profile "cantoniodasilva"
        %p.author_bio
          Carlos Antonio (@cantoniodasilva) é engenheiro de software da Plataforma Tecnologia (@plataformatec). Formado em Sistemas de Informação e Gerenciamento de Projetos, trabalha com desenvolvimento de aplicações desde meados de 2004, e iniciou o aprendizado de Ruby e Rails ao final de 2007. Em 2008 já desenvolvia profissionalmente usando o framework, e em 2009 integrou a equipe da Plataforma. 
          %br
          Além de atuar no desenvolvimento de sistemas, project rescue e coaching de projetos Ruby e Rails, Carlos trabalha ativamente nas ferramentas open source da PlataformaTec, tal como o Devise.
      .clear
    %li
      .keynote_info
        %h3 Cloud e as opções do Google para desenvolvedores RoR
        %p
      .keynote_author
        .wrapper
          = image_tag 'http://a3.twimg.com/profile_images/344531419/wildt_xsmall_bigger.jpg', :class => 'avatar'
          %p
            Daniel Wildt
            %br
            <em>Guru-RS</em>
            %br
            = link_to "danielwildt.com", "http://www.danielwildt.com/", :target => :_blank
          .clear
          = twitter_profile "dwildt"
      .clear
.clear
%hr
%section.cases_list
  %h1 Cases
  %ul.keynotes
    %li
      .keynote_info
        %h3 Como o Rails mudou o desenvolvimento do TRE-RS, e pode mudar sua empresa
        %p
      .keynote_author
        .wrapper
          = image_tag "http://a3.twimg.com/profile_images/817909499/bandeira_bigger.jpg", :class => 'avatar'
          %p
            Luiz Claudio Garcia
            = link_to 'tre-rs.gov.br', 'http://www.tre-rs.gov.br/', :target => :_blank
          .clear
          = twitter_profile "LuizzzGarcia"
          = twitter_profile "TRE_RS"
      .clear
    %li
      .keynote_info
        %h3 Tá Tri Imóveis
        %p
      .keynote_author
        .wrapper
          = image_tag "http://a3.twimg.com/profile_images/978688445/tatri_logo_png8_150_bigger.png", :class => 'avatar'
          %p
            = link_to 'imoveis.tatri.com.br', 'http://imoveis.tatri.com.br/', :target => :_blank
          .clear
          = twitter_profile "tatri_imoveis"
      .clear
.clear
%hr
%section.lightning_talks_list
  %h1 Lightning Talks
  %p O cadastro para <strong>#{link_to 'Lightning Talks', 'http://pt.wikipedia.org/wiki/Lightning_Talk'}</strong> ocorrerá no dia do evento.
.clear
.clear
%br
- link_to signup_path, :class => 'big_signup_button' do
  Inscrições novamente abertas. Aproveite!
