- @body_id = "keynotes"
%section.keynotes_list
  %h1 Palestras técnicas
  %ul.keynotes
    %li
      .keynote_info
        %h3 Dicas de Desenvolvimento Web com Ruby
        %p Muitas vezes as pessoas reclamam da lentidão de seus websites e logo pensam em reescrever tudo, trocar de linguagem ou coisas do tipo. Porém, em muitos casos o problema são coisas muito simples. Nesta apresentação quero demonstrar alguns dos diversos conceitos sobre tanto performance quanto escalabilidade, muitas das quais são aplicáveis fora do mundo Ruby on Rails
      .keynote_author
        .wrapper
          = image_tag 'http://a1.twimg.com/profile_images/483721382/4015270661_1d44744ac4_o_normal.jpg', :class => 'avatar'
          %p
            Fábio Akita
            %br
            = link_to 'akitaonrails.com', 'http://akitaonrails.com/', :target => :_blank
          .clear
          = twitter_profile "AkitaOnRails"
      .clear
    %li
      .keynote_info
        %h3 Rack
        %p Intro ao RACK com exemplos de exemplos de Sinatra e Rack no Rails 3
      .keynote_author
        .wrapper
          = image_tag 'http://a1.twimg.com/profile_images/555087560/me_normal.jpeg', :class => 'avatar'
          %p
            Tiago Bueno
            %br
            <em>#{link_to 'ThoughtWorks', 'http://www.thoughtworks.com/', :target => :_blank}</em>
            %br
            = link_to "tbueno.com", "http://tbueno.com/", :target => :_blank
          .clear
          = twitter_profile "tbueno"
        %p.author_bio Desenvolvedor desde 2001, atuando principalmente com a linguagem Java, nas áreas de processamento de XML, software embarcado e desenvolvimento web. Realizou projetos utilizando Ruby e Objective-C como freelancer e contribuiu em projetos open-source. Após passar por empresas como Tools and Technology e HP, trabalha atualmente na empresa ThoughtWorks com desenvolvimento web utilizando Java e Ruby.
      .clear
    %li
      .keynote_info
        %h3 Ruby-Raid - Porque ruby pode ser divertido sem r***s!
        %p Muito se fala em desenvolvimento de jogos cada vez mais realistas, com engines gráficas poderosas e linguagens compiladas para obter o máximo de desempenho. Mas as vezes você apenas quer apenas se divertir desenvolvendo seu joguinho 2D de plataforma e mesmo assim precisa aprender bibliotecas nada divertidas para isso. Então porque não programar seus jogos em ruby?  Não espere desenvolver jogos mirabolantes em 3D, mas com certeza espere muita diversão e facilidade de aprender o framework (até mesmo para quem não sabe nada de jogos). Logo entenderá que desenvolver jogos também pode ser tão divertido quanto desenvolver em r***s. Aproveitando a oportunidade, conhecerão também o ruby-raid, um jogo especialmente desenvolvido para esta palestra baseado em tutoriais disponíveis na internet.
      .keynote_author
        .wrapper
          = image_tag 'http://a1.twimg.com/profile_images/473287948/pedro_barcelona_rosto_bigger.jpg', :class => 'avatar'
          %p
            Pedro Pimentel
            %br
            = link_to 'pedropimentel.com', 'http://www.pedropimentel.com/', :target => :_blank
          .clear
          = twitter_profile "zukunftsalick"
      .clear
    %li
      .keynote_info
        %h3 Programação Distribuida e Processamento Assíncrono em Ruby
        %p Programação distribuida em Ruby, Background/Async processing. Apresentação de algumas técnicas como Distributed Message Queues e de algumas ferramentas (Starling, Redis, Resque, etc) e como usar isso pra fazer Async processing em uma aplicação Rails.
      .keynote_author
        .wrapper
          = image_tag 'http://a3.twimg.com/profile_images/481709123/Brasil_verao_2009_216_bigger.JPG', :class => 'avatar'
          %p
            Rodrigo Kochenburger
            %br
            = link_to "blog.divoxx.com", "http://blog.divoxx.com/", :target => :_blank
          .clear
          = twitter_profile "divoxx"
        %p.author_bio Open Source lover and contributer, he is deeply involved in the Ruby and Rails community and didn't contributed only with code. He is one of the heads behind the RailsRumble, a world wide RubyOnRails competition that takes place over the internet, contributing to the technology dissemination.
      .clear
    %li
      .keynote_info
        %h3 Rails 3
        -# %p
      .keynote_author
        .wrapper
          = image_tag 'http://a3.twimg.com/profile_images/398519669/carlos240_bigger.jpg', :class => 'avatar'
          %p
            Carlos Antonio
            %br
            <em>http://www.thoughtworks.com/</em>
            %br
            = link_to "carlosantoniodasilva.wordpress.com", "http://carlosantoniodasilva.wordpress.com/", :target => :_blank
          .clear
          = twitter_profile "cantoniodasilva"
      .clear
    %li
      .keynote_info
        %h3 Cloud e as opções do Google para desenvolvedores RoR
        -# %p
      .keynote_author
        .wrapper
          = image_tag 'http://a3.twimg.com/profile_images/344531419/wildt_xsmall_bigger.jpg', :class => 'avatar'
          %p
            Daniel Wildt
            %br
            <em>Grupo Guru-RS</em>
            %br
            = link_to "danielwildt.com", "http://www.danielwildt.com/", :target => :_blank
          .clear
          = twitter_profile "dwildt"
      .clear
    %li
      .keynote_info
        %h3 A definir.
        -# %p
      .keynote_author
        .wrapper
          = image_tag 'http://a3.twimg.com/profile_images/344531419/wildt_xsmall_bigger.jpg', :class => 'avatar'
          %p
            Julio Monteiro
            %br
            <em>#{link_to "rubyonrails.pro.br", "http://www.rubyonrails.pro.br/", :target => :_blank}</em>
            = link_to "monteiro.eti.br", "http://monteiro.eti.br/", :target => :_blank
          .clear
          = twitter_profile "jmonteiro"
      .clear
.clear
%hr
%section.cases_list
  %h1 Cases
  %ul.keynotes
    %li
      .keynote_info
        %h3 TRE-RS
        %p
      .keynote_author
        .wrapper
          = image_tag "http://a3.twimg.com/profile_images/817909499/bandeira_bigger.jpg", :class => 'avatar'
          %p
            
            %br
            = link_to 'tre-rs.gov.br', 'http://www.tre-rs.gov.br/', :target => :_blank
          .clear
          = twitter_profile "TRE_RS"
      .clear
    %li
      .keynote_info
        %h3 Tá Tri Imóveis
        %p
      .keynote_author
        .wrapper
          = image_tag "http://a3.twimg.com/profile_images/978688445/tatri_logo_png8_150_bigger.png", :class => 'avatar'
          %p
            
            %br
            = link_to 'imoveis.tatri.com.br', 'http://imoveis.tatri.com.br/', :target => :_blank
          .clear
          = twitter_profile "tatri_imoveis"
      .clear
.clear
%hr
%section.lightning_talks_list
  %h1 Lightning Talks
  %p Aguarde, em breve mais novidades.
  %p Caso tenha interesse em apresentar um lightning talk, #{mail_to 'contato@rsrails.com.br', 'mande já sua proposta'}.
.clear