- @body_id = "sponsorship"
%section.sponsorship
  %h1 Patrocínio
  %p Se sua empresa tem interesse em patrocinar o segundo RS on Rails envie um email para #{mail_to 'contato@rsrails.com.br'}.
%aside.current_sponsors
  %h6 Patrocinadores
  %ul.sponsors_twitter
  %li
    - link_to 'http://www.mailee.me/' do
      = image_tag 'http://a1.twimg.com/profile_images/115287492/twitter_bigger.png', :class => 'avatar'
      mailee.me
      %span.go= image_tag 'more.png'
  %li
    - link_to 'http://www.softa.com.br/' do
      = image_tag 'softa_icon.png', :class => 'avatar', :style => 'background:white;'
      softa.com.br
      %span.go= image_tag 'more.png'
.clear