- @body_id = 'who_we_are'
%section.who_we_are
  %h1 Quem somos?
  %ul.social_box
    %li
      %a{ :href => 'http://groups.google.com/group/rails-rs' }
        = image_tag 'social/google_32.png'
        Groups
    %li
      %a{ :href => 'http://twitter.com/rsonrails' }
        = image_tag 'social/twitter_32.png'
        @rsonrails
    %li
      %a{ :href => 'mailto:contato@rsrails.com.br' }
        = image_tag 'social/email_32.png'
        contato@rsrails.com.br
  %br
  .rsonrails_group_tweets
%aside.rs_rails_group
  %h6 Integrantes do Grupo RS on Rails
  .prepend-top
    %ul.grupo_rsonrails
      %li
        %a{ :href => 'http://twitter.com/pedroaxl' }
          = image_tag 'http://a1.twimg.com/profile_images/187672920/orkut_normal.jpg', :class => 'avatar'
          @pedroaxl
          %span.go= image_tag 'more.png'
      %li
        %a{ :href => 'http://twitter.com/joaomilho' }
          = image_tag 'http://a3.twimg.com/profile_images/110183461/EU_normal.jpg', :class => 'avatar'
          @joaomilho
          %span.go= image_tag 'more.png'
      %li
        %a{ :href => 'http://twitter.com/leotartari' }
          = image_tag 'https://s3.amazonaws.com/twitter_production/profile_images/673984646/logo2010_normal.jpg', :class => 'avatar'
          @leotartari
          %span.go= image_tag 'more.png'
      %li
        %a{ :href => 'http://twitter.com/dbiazus' }
          = image_tag 'http://a3.twimg.com/profile_images/459411833/Photo_13_normal.jpg', :class => 'avatar'
          @dbiazus
          %span.go= image_tag 'more.png'
      %li
        %a{ :href => 'http://twitter.com/danielweinmann' }
          = image_tag 'http://a1.twimg.com/profile_images/639484702/facebook_normal.jpg', :class => 'avatar'
          @danielweinmann
          %span.go= image_tag 'more.png'
      %li
        %a{ :href => 'http://twitter.com/felipebcabral' }
          = image_tag 'http://a1.twimg.com/profile_images/558722856/cabral_bigger.jpg', :class => 'avatar'
          @felipebcabral
          %span.go= image_tag 'more.png'
